<%- include('../partials/header') %>
<table id="all-vendors">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            
    </thead>
    <tbody>
        <% vendors.forEach(function(v) { %>
           <tr> 
            <td><%= v.name %></td>
            <td><%= v.streetAddress %></td>
            <td><%= v.city %></td>
            <td><%= v.zipcode %></td>
            <td><a href="/vendors/<%= v._id %>">Details</a></td>
           </tr> 
            
       <% }); %>
    </tbody>
</table>
<br>

<a href="/vendors/new">Add Vendor</a>
<%- include('../partials/footer') %>