<%- include('../partials/header') %>
<div class="table-responsive">
    <table id="all-vendors" class="table">
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <% vendors.forEach(function(v) { %>
           <tr> 
                <td><%= v.name %></td>
                <td><%= v.streetAddress %></td>
                <td><%= v.city %></td>
                <td><%= v.zipcode %></td>
                <td><a href="/vendors/<%= v._id %>">Details</a></td>
           </tr>
           <% }); %>
        </tbody>
    </table>
</div>
<div class="row">
    <form action="/vendors/new" method="GET">
        <button class="btn btn-default" type="submit">
            Add Vendor
        </button>
    </form>
</div>

<%- include('../partials/footer') %>