<%- include('../partials/header') %>

   
<table>
    <form action="/reviews/<%= review.id %>?_method=PUT" method="POST" id="form-edit">
    <tr>
        <td><label>Update Story</label>
        </td>
        <td>
<textarea name="blog" id="blog" cols="25" rows="2" placeholder="<%= review.blog %>"><%- review.blog %></textarea>
        </td>
    </tr> 
    <tr>
       <td class="button-td"><button type="submit">EDIT</button></td>
    </tr>
    </form>
</table>
   
               
   

    <%- include('../partials/footer') %>