<%- include('../partials/header') %>

<form action="/reviews/<%= review.id %>?_method=PUT" method="POST" id="form-edit">
    <table class="table">
        <thead>
            <th>
                Update Story
            </th>
        </thead>
        <tr>
            <td class="text-justify">
                <textarea name="blog" id="blog" cols="25" rows="2" placeholder="<%= review.blog.replaceAll('\n', '<br>') %>">
                    <%- review.blog %>
                </textarea>
            </td>
        </tr> 

    </table>
        <div class="row">
            <button class="btn btn-default" type="submit">
                EDIT
            </button>
        </div>
</form>
   
    <%- include('../partials/footer') %>