<%- include('../partials/header') %>

    <table id="details-reviews">
        <thead>
            <tr>
                <th><img alt="avatar" id="review-avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer">
                </th>

                <th>Vendor</th>
                <th>Rating</th>
                <th>Price</th>

        </thead>
        <tbody>
            <tr>
                <td></td>
                <td><%= review.vendor.name %></td>
                <td><%= review.rating %></td>
                <td><%= review.price %></td>
            </tbody>
        </table>


         <table>
            <thead>
                <th>Story</th>
                <% if (user?._id.equals(review.user._id)) { %>
                 <th>Edit</th>
                            <% } %>
            </thead>
            <td><textarea name="blog" id="blog" cols="25" rows="3" placeholder="<%= review.blog %>"></textarea>
                     </td>
                     <% if (user?._id.equals(review.user._id)) { %>
                        <td>
                            <form action="/reviews/<%= review.id %>" method="PUT"><button type="submit">EDIT</button>
                            </form>
                         </td>
                <% } %>
            </tr>
        </tbody>
    </table>

    <%- include('../partials/footer') %>