<%- include('../partials/header') %>
<table id="all-reviews">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Author</th>
            <th>More Info</th>
            
    </thead>
    <tbody>
        <% reviews.forEach(function(r) { %>
           <tr> 
            <td><%= r.vendor %></td>
            <td><%= r.rating %></td>
            <td><%= r.price %></td>
            <td><%= r.userName %></td>
            <td><a href="/reviews/<%= r._id %>">Details</a></td>
           </tr> 
            
       <% }); %>
    </tbody>
</table>
<a href="reviews/favorites">Link</a>

<%- include('../partials/footer') %>